files:
    "/etc/cron.d/dailyDbUpdate":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 0 * * * root source /var/app/venv/*/bin/activate && cd /var/app/current && python db.py

    "/etc/cron.d/hourlyDbUpdate":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root source /var/app/venv/*/bin/activate && cd /var/app/current && python db.py -pc

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/dailyDbUpdate.bak"